:root{
    --darkColor: #111111;
    --lightColor: #DDDDDD;

    --middleDarkBorder: 2px solid black;
    --middleLightBorder: 2px solid white;
    --hightlightedColor: orange;
}

*{
    box-sizing: border-box;
}

body{
    margin: 0;
    padding: 0;
    background-color: var(--lightColor);
}

input, textarea{
    border-radius: 0.3rem;
}



header{
    text-align: center;
    background-color: var(--hightlightedColor);
}

header > *{
    margin: 0;
    padding: 0;
    height: 5rem;
    display: flex;
    justify-content: center;
    align-items: center;
}


/*Main page*/
.mainPage{
    width: 100%;
}


/*Emails*/
.emailsWrapper{
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.emailsTopPannel{
    width: 100%;
    color: var(--lightColor);
    background-color: var(--darkColor);
    text-align: center;
}

.emails{
    margin-top: 1rem;
    color: var(--lightColor);
    background-color: var(--darkColor);
    border: var(--middleDarkBorder);
    border-collapse: collapse;
}

.emails tr{
    border-bottom: var(--middleLightBorder);
}

.emails td > *{
    color: var(--lightColor);
}

.emails tr > *{
    padding: 0.3rem;
}

.emailsTopPannel > *{
    margin: 0.5rem
}





/*Email editor*/
.emailEditor{
    display: flex;
    justify-content: center;
}

.emailEditor > .emailForm{
    margin-top: 1rem;
    display: flex;
    flex-direction: column;
}

.emailEditor > .emailForm > *{
    margin: 0.3rem;
}


/*Authorization wrapper*/
.authorizationWrapper{
    display: flex;
    justify-content: center;
}

.authorization{
    border-radius: 1rem;
    overflow: hidden;
    border: var(--middleDarkBorder);
}

.authorizationNavigation > *{
    width: 7rem;
    height: 4rem;
    color: var(--lightColor);
    background-color: var(--darkColor);
    border: var(--middleLightBorder);
    display: inline-flex;
    justify-content: center;
    align-items: center;
}

.signInForm, .signUpForm{
    display: flex;
    flex-direction: column;
}

.signInForm > *, .signUpForm > *{
    margin: 0.3rem;
}

.signInForm > input, .signUpForm > input{
    height: 2rem;
}

.signInForm > button, .signUpForm > button{
    align-self: flex-end;
}

.authorizationNavigation > .active{
    background-color: var(--hightlightedColor);
}

/*Message Dialog*/
.messageDialog{
    border: var(--middleDarkBorder);
    position: fixed;
    bottom: 0;
    right: 1rem;
}